.modal#list-retrievers
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Liste des automates disponibles
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body.back-grey
        .box.overflow-auto
          .form-group.no-margin
            %ul.retriever-index.d-block.no-padding.text-center
              %li 
                %a{ href: '#'} Tous
              %li 
                %a{ href: '#'} (1-9)
              %li 
                %a{ href: '#'} A
              %li 
                %a{ href: '#'} B
              %li 
                %a{ href: '#'} C
              %li 
                %a{ href: '#'} D
              %li 
                %a{ href: '#'} E
              %li 
                %a{ href: '#'} F
              %li 
                %a{ href: '#'} G
              %li 
                %a{ href: '#'} H
              %li 
                %a{ href: '#'} I
              %li 
                %a{ href: '#'} J
              %li 
                %a{ href: '#'} K
              %li 
                %a{ href: '#'} L
              %li 
                %a{ href: '#'} M
              %li 
                %a{ href: '#'} N
              %li 
                %a{ href: '#'} O
              %li 
                %a{ href: '#'} P
              %li 
                %a{ href: '#'} Q
              %li 
                %a{ href: '#'} R
              %li 
                %a{ href: '#'} S
              %li 
                %a{ href: '#'} T
              %li 
                %a{ href: '#'} U
              %li 
                %a{ href: '#'} V
              %li 
                %a{ href: '#'} W
              %li 
                %a{ href: '#'} X
              %li 
                %a{ href: '#'} Y
              %li 
                %a{ href: '#'} Z

        .box.overflow-auto
          .form-group.no-margin             
            %label.semibold Banques
            %span.badge.badge-secondary.regular 5                
          %hr

          .form-group.no-margin
            %ul.connectors-list
              %li
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR
              %li 
                %a{ href: '#'} SwissLife (CGP)
              %li 
                %a{ href: '#'} Yomoni
              %li 
                %a{ href: '#'} WiSEED
              %li 
                %a{ href: '#'} Vie Plus
              %li 
                %a{ href: '#'} Total GR


        .box.overflow-auto.hide
          .form-group.no-margin              
            %label.semibold Document
            %span.badge.badge-secondary.regular 15              
          %hr

          .form-group
            %ul.connectors-list
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net
              %li SwissLife (CGP)
              %li Yomoni
              %li WiSEED
              %li Vie Plus
              %li Total GR
              %li Sogecarte Net

      .modal-footer
        %button.btn.btn-primary.semibold Exporter en format XLS

.modal#filter-retriever
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Filtre
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        .form-group
          %label.semibold Nom personnalisé
          .select-container.no-padding.w-100.date.date-picker
            %input#search_name{ type: :text }

        .form-group
          %label.semibold Etat :
          %select.form-select#search_state{ "aria-label" => "Default select"  }              
            %option{value: ''}
            %option{value: 'ready'} OK
            %option{value: 'error' } Erreur
            %option{value: 'unavailable'} Indisponnible
        
      .modal-footer
        %button.btn.btn-light.semibold.cancel#filter_cancel{ type: :button } Annuler
        %button.btn.btn-primary.semibold#filter_button{ type: :button } Valider

.modal#add-retriever
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration d'un nouveau récupérateur
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body.back-grey
        .box
          .form-group
            .row         
              .col-md-10
                %label.semibold Connecteurs
              .col-md-2.text-end
                %span.chevron-show#connector= glyphicon('chevron-right', {size: '15', color: '#b5a6a6'})
            %hr

          .more-connector.hide
            .form-group
              %label.semibold Fournisseur/Banque
              .select-container.no-padding.w-100
                %input{ type: :text }

            .form-group
              %label.semibold Choisissez parmis la liste suivante :
              %select.form-select#choose-selector{ name: 'choose-selector', "aria-label" => "Default select"  }              
                %option
                %option Banques
                %option Fournisseurs                
              %i.badge.bg-success 263

            .form-group
              %select.form-select#list-retriever{ name: 'list-retriever', "aria-label" => "Default select", "size" => '15' }              
                %option Allianz
                %option Attijarinet
                %option AXA Banque
                %option Caisse d'Épargne Professionnels
                %option Assurance Épargne Pension
                %option Allianz
                %option Attijarinet
                %option AXA Banque
                %option Caisse d'Épargne Professionnels
                %option Assurance Épargne Pension
                %option Allianz
                %option Attijarinet
                %option AXA Banque
                %option Caisse d'Épargne Professionnels
                %option Assurance Épargne Pension

        .box
          .form-group
            .row         
              .col-md-10
                %label.semibold Informations basiques & Authentification
              .col-md-2.text-end
                %span.chevron-show#information= glyphicon('chevron-right', {size: '15', color: '#b5a6a6'})
            %hr

          .more-information.hide
            .form-group
              %label.semibold Type de connecteur :
              %span.connector-type.text-table-green.ms-3 Opérations bancaires

            .form-group
              %label.semibold Nom personnalisé
              .select-container.no-padding.w-100
                %input{ type: :text }

            .form-group
              %label.semibold Identifiant
              .select-container.no-padding.w-100
                %input{ type: :text }

            .form-group
              %label.semibold Mot de passe
              .select-container.no-padding.w-100
                %input{ type: :text }
            %hr
            .w-100.text-end
              %button.btn.btn-light.semibold.cancel{ type: :button } Annuler
              %button.btn.btn-primary.semibold{ type: :button } Valider