= stylesheet_link_tag 'front/retrievers/assets/stylesheets/main'

.container-fluid
  .row
    .col-md-2.text-start.derivationLeft
      %h3.bold
        Mes automates
    .col-md-10
  .row.pt-5
    .col-md-12.text-start.resp-view.derivationRight
      Merci de contacter votre collaborateur pour paramètrer un automate de récupération automatique de vos transactions bancaires ...