= stylesheet_link_tag 'front/retrievers/assets/stylesheets/main'

.container-fluid
  .row
    .col-md-2.text-start.derivationLeft
      %h3.bold
        Mes automates
    .col-md-10
  .row.pt-5
    .col-md-12.text-start.resp-view.derivationRight
      Aucun compte bancaire paramétré. Merci de contacter votre interlocuteur.