.container-fluid.main-content
  .row
    .col-md-2
      %label.semibold Dossier
      = select_tag 'customers', options_for_select(@users.reverse.map{ |e| [e.short_info, e.id] }, params[:uid].present? ? params[:uid] : @user.id), id: 'customers', class: 'chosen-list w-100', include_blank: false
    
  .mb-4

  .customer-document-content
    = render partial: 'body_customer' 

= render partial: 'upload_dialog_customer' if @render_upload

= javascript_include_tag 'front/my_documents/assets/javascripts/customer'