.chart-container {
  max-width: 30%;
  display: block;
  margin: 3% 1%;
  padding: 1% 1%;
  box-shadow: 0px 1px 3px rgba(26, 26, 26, 0.1);
  border-radius: 16px;
}

.chart-retriever, .chart-deliver{
  padding: 8% 0;
}

.label-canvas {
  margin: 15% 39%;
  font-size: 2rem;
  position: absolute;
}

.label-retriever {
  padding-top: 5%;
  color: rgba(26, 26, 26, 0.7);
}

.table{
  color: rgba(26, 26, 26, 0.32);
  margin: 5% 0;
}

.table th{
  border: none;
}

.table td{
  color: #445E2B;
}