.text-canvas-reporting{
  position: absolute;
  margin: 46px -24px;
  font-size: 30px;
}

.multi-select-menu{
  max-height: 200px;
  overflow: auto;
}

.multi-select-button{
  padding: 0 0.6em;
}

@media (max-width: 1280px) {
  .table tbody {
    font-size: 11px;
  }

  h4{
  	font-size: 1rem;
  }

  .multi-select-button{
  	font-size: 0.8rem;	
  }

  .multi-select-container svg{
  	width: 12px !important;
		height: 12px !important;
  }

  .multi-select-menuitem {    
    font-size: 10px;
	}
}
