.mt-5
.lefter
  %ul.principal
    %li.direct_links{ data: { href: 'documents_reloaded' } }
      %a{href: documents_reloaded_path }
        %span.link_principal{class: (controller_name == 'pieces') ? 'active' : ''} Tous les documents
    %li.direct_links{ data: { href: 'pieces_errors' } }
      %a{href: pieces_errors_path }
        %span.link_principal{class: (controller_name == 'pieces_errors') ? 'active' : ''} Pièces en erreur