= stylesheet_link_tag 'front/documents_reloaded/assets/stylesheets/main'

- if @collaborator_view
  = render partial: 'for_collaborator'
- else
  %input#reload-page-flag{ type: :hidden, value: 0 }
  = render partial: 'for_customer'

= render partial: 'document_dialog'