.form-group .ui-sortable li {
  width: 20%;
  float: left;
  margin-right: 2%;
  margin-bottom: 1%;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}

#sortable-software li, #sortable-software-preseizures li{
  width: auto;
  font-size: 0.8rem;
}

.form-group .ui-sortable li.btn-light:hover {
  border: 1px solid #72AA42;
  border-radius: 8px;
  color: #72AA42;
  font-weight: bold;
}

.form-group .ui-sortable li.btn-light.active{
  background: #EEF8B8;
  border: 1px solid #72AA42;
  border-radius: 8px;
  color: #72AA42;
}

.form-group .ui-sortable li.btn-light span{
  padding: 3%;
  float: right;
}

.sub_menu{
  min-width: 10% !important;
}

img {
  max-width:100%;
  height:auto;
  margin: auto;
}

.box-software{
  display: flex;  
  background: #FFFFFF;
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 25%;
  margin: 3%;
  height: 10em;
}

.box-software.selected{
  border: 1px solid #72AA42;
}

#csv span{
  font-size: 5rem;
  margin: auto;
}

.custom-input-field{
  border: none;
  width: 100%;
  padding: 1% !important;
  background: rgba(26, 26, 26, 0.04);
}

.custom-label-field{
  padding-bottom: 1.2%;
}