= simple_form_for AccountBookType.new, url: '#', method: 'POST', html: { class: 'form-horizontal', id: 'edit-rubric-form', base_uri: customer_rubric_addition_path('cst_id') } do |f|
  = f.label :label, :class => "semibold"
  .select-container.p-1.w-100
    = f.input :label, label: false, input_html: { class: 'required_field', require: true }