.box
  .form-group
    .row         
      .col-md-12
        %label.semibold Connecteurs
    %hr

  .more-connector
    .form-group
      %label.semibold Fournisseur/Banque
      .select-container.no-padding.w-100
        %input#connector-search-name{ type: :text, name: 'connector-search-name' }
        .urls-box

    .form-group
      %label.semibold
        Choisissez parmis la liste suivante :
        %i.badge.badge-success.semibold.connectors-size 0
      .row.hide
        .col-md-3.pt-2
          %label Type :
        .col-md-6
          %select.form-select#choose-selector{ name: 'choose-selector', "aria-label" => "Default select"  }
            %option{ value: 'all' } Tous
            %option{ value: 'bank' } Banques
            %option{ value: 'document' } Fournisseurs
        .col-md-3.pt-1
          %i.badge.badge-success.semibold.connectors-size 0
    .form-group
      %select.form-select#connectors-list{ name: 'connectors-list', "aria-label" => "Default select", "size" => '15' }
        %option Chargement en cours ...