= stylesheet_link_tag 'front/organizations/assets/stylesheets/settings'

.general
  .row
    %h3.bold Paramètres : Général


  .box.mt-4
    .form-group
      %label.semibold Nom
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "iDocus" }
    .form-group
      %label.semibold Code
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "IDOC" }

    .form-group.row
      .col-md-11
        %label.semibold Divulguer le coût iDocus au client ?
      .col-md-1.form-check.form-switch
        %label.form-check-label Non
        %input.form-check-input#flexSwitchCheckDefault{ type: :checkbox }

    .form-group.row
      .col-md-11
        %label.semibold Forcer la pré-affectation des écritures récupérées par les automates ?
      .col-md-1.form-check.form-switch
        %label.form-check-label Non
        %input.form-check-input#flexSwitchCheckDefault{ type: :checkbox }

    .form-group.row
      .col-md-11
        %label.semibold Afficher la date de réalisation de l’opération si différente de la date de prélèvement
      .col-md-1.form-check.form-switch
        %label.form-check-label Non
        %input.form-check-input#flexSwitchCheckDefault{ type: :checkbox }

    .form-group.row
      .col-md-11
        %label.semibold Bloquer les doublons de pré-affectation ?
      .col-md-1.form-check.form-switch
        %label.form-check-label Non
        %input.form-check-input#flexSwitchCheckDefault{ type: :checkbox }



    .form-group
      %label.semibold Nombre de périodes antérieures accessibles au téléversement des pièces
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "1" }

    .form-group
      %label.semibold Jour de clôture de la période précédente dans la période en cours
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "11" }
      %i Par exemple le 11 février pour cloturer janvier. Choisir un chiffre de 0 à 28.

    .form-group
      .row
        .col-md-6.semibold Date de l’écriture des opérations bancaires                
        .col-md-3
          .form-check.form-check-inline                 
            %label.form-check-label Date de réalisation
            %input.form-check-input#flexRadioDefault1{ type: :radio, name: "flexRadioDefault" }
        .col-md-3
          .form-check.form-check-inline               
            %label.form-check-label Date de prélèvement
            %input.form-check-input#flexRadioDefault1{ type: :radio, name: "flexRadioDefault" }

    .form-group
      .row
        .col-md-6.semibold Date de saisie des factures            
        .col-md-3
          .form-check.form-check-inline                 
            %label.form-check-label Date d’origine
            %input.form-check-input#flexRadioDefault1{ type: :radio, name: "flexRadioDefault" }
        .col-md-3
          .form-check.form-check-inline               
            %label.form-check-label Date de la période iDocus
            %input.form-check-input#flexRadioDefault1{ type: :radio, name: "flexRadioDefault" }

    .form-group
      %label.semibold Email(s) en copie de la facture iDocus
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "Ex : jean.dupont@mail.com, marie.dupuis@mail.com" }
      %i Doit être séparé par une virgule (",") si plusieurs

    .form-group
      %label.semibold Clé API Jefacture.com
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "ex : T4534638846" }

    .form-group.no-margin
      .w-100.text-end
        %button.btn.btn-primary.valid-modification Valider les modifications

  .modal#general-modal
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Confirmation
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}    
        .modal-body
          %p Vous venez de changer les paramètres, voulez-vous enregister les modifications apportées ?
        .modal-footer
          .w-100.text-end
            %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler les modifications
            %button.btn.btn-primary.valid Valider les modifications

= javascript_include_tag 'front/organizations/assets/javascripts/settings'