!!!
%html
  %head
    %title [iDocus] Export - Ecritures comptables - échoué
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Une erreur est survenue pendant l'export de vos documents. Veuillez réessayer ultérieurement.
    %br
    %br

    Cordialement
    %br
    L’équipe iDocus

