!!!
%html
  %head
    %title [iDocus] Notification : Documents prêts
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Vos documents sont prêts à être téléchargés. Récupérez-les
    %a
      = link_to 'ici', "https://my.idocus.com/list_export_preseizures"
    %br

    Cordialement
    %br
    L’équipe iDocus

