!!!
%html
  %head
    %title [iDocus] Notification : Export - Ecritures comptables
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Votre demande d'export d'ecritures comptables est prête à être téléchargée et disponible 
    %a
      = link_to 'ici', "https://my.idocus.com/preseizures_export"
    %br

    Cordialement
    %br
    L’équipe iDocus

