.modal#account-sharing
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Partager un dossier
        %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' }
      .modal-body
      .modal-footer
        %button.btn.btn-primary.semibold.validate{ type: 'button' } Valider