%ul.nav.nav-tabs.ms-3{ "role" => "tablist" }
  %li.nav-item.no-margin{ "role" => "presentation" }
    %button.semibold.nav-link{ "data-bs-toggle" => "tab", "data-bs-target" => "#shared_accounts", type: :button, "role" => "tab", "aria-controls" => "shared_accounts", "aria-selected" => "true", class: (params['tab']!='contacts')? 'active' : ''} Dossiers partagés
  %li.nav-item.no-margin{ "role" => "presentation" }
    %button.semibold.nav-link{ "data-bs-toggle" => "tab", "data-bs-target" => "#contacts", type: :button, "role" => "tab", "aria-controls" => "contacts", "aria-selected" => "true", class: (params['tab']=='contacts')? 'active' : ''} Contacts

.tab-content
  .tab-pane.box.no-margin#shared_accounts{ "role" => "tabpanel", "aria-labelledby" => "shared-accounts-tab", class: (params['tab']!='contacts')? 'active' : ''}
  .tab-pane.box.no-margin#contacts{ "role" => "tabpanel", "aria-labelledby" => "contacts-tab", class: (params['tab']=='contacts')? 'active' : ''}

= render partial: 'dialogs'

%input#organization_id{ type: 'hidden', value: @organization.id }
= javascript_include_tag 'front/account_sharings/assets/javascripts/organization'