= stylesheet_link_tag 'front/organizations/assets/stylesheets/show'

#account_number_rule.new.derivationRight
  = render partial: 'form'

= javascript_include_tag 'front/account_number_rules/assets/javascripts/main'
