%ul.nav.nav-tabs
  %li.nav-item
    = link_to "Dossiers partagés", organization_account_sharings_path(@organization), class: "nav-link #{(controller_name == 'account_sharings')? 'active' : ''}"
  %li.nav-item 
    = link_to "Contacts", organization_guest_collaborators_path(@organization), class: "nav-link #{(controller_name == 'guest_collaborators')? 'active' : ''}"
