#address.edit.row.derivationRight
  .col-md-12
    .card
      .card-header.clearfix
        .float-left
          .w-100.text-start
            %h3 Edition d'adresse
        .float-right
          .form-group.no-margin
            .w-100.text-end
              = link_to 'Nouvelle adresse', new_organization_address_path(@organization), class: 'btn btn-primary add-adress'
      = render partial: 'form'
