!!!
%html
  %head
    %title [iDocus] Notification
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
  	%h3 Récapitulatif des opérations :
  	%br
    != @notify_content[:details]
