%ul.nav.nav-tabs
  %li.nav-item
    = link_to 'Liste des adresses', addresses_index_path, class: (action_name == 'index' ? 'active nav-link' : 'nav-link')
  %li.nav-item
    = link_to 'Nouvelle adresse', addresses_new_path, class: (action_name == 'new' ? 'active nav-link' : 'nav-link')
