= stylesheet_link_tag 'front/file_naming_policies/assets/stylesheets/main'

.nommage_pdf
  .row
    %h3.bold Paramètres : Nommage PDF

  .box.mt-4
    .form-group
      %label.semibold Sélectionnez les éléments à incorporer pour composer le nom de sortie PDF
      .select-container.no-padding.w-100
        %input.book-code-software{ placeholder: "Ajoutez des éléments pour voir le résultat" }

    .form-group.clearfix
      %ul#sortable
        %li.btn-light.click
          Code client iDocus
          %span.badge.bg-success.position.semibold 1
        %li.btn-light.click Nom de la société
        %li.btn-light.click
          Journal iDocus
          %span.badge.bg-success.position.semibold 2
        %li.btn-light.click
          Période iDocus
          %span.badge.bg-success.position.semibold 3
        %li.btn-light.click N° de pièce iDocus
        %li.btn-light-secondary Nom du tiers
        %li.btn-light-secondary N° de la facture d’origine
        %li.btn-light-secondary.clear Date de la facture

    .form-group
      %label.semibold Séparer les éléments par
      %select.form-control#element-separator{ name: 'element-separator', multiple: false }
        %option{ value: 'trait-8', selected: true } Underscore “_”
        %option{ value: 'trait-6'} Tirait "-"

    .form-group.no-margin
      .w-100.text-end
        %button.btn.btn-primary.valid-modification-pdf Valider les modifications

= javascript_include_tag 'front/file_naming_policies/assets/javascripts/main'