@import "../new_application"

body
  font-family: Raleway-Regular
  background: rgba(26, 26, 26, 0.04)

footer
  position: fixed
  bottom: 0
  width: 100%

li
  list-style: none

h1
  font-family: Raleway-Bold
  font-size: 2.2vw
  line-height: 40px
  letter-spacing: -0.5px
  color: #1A1A1A

h3
  font-family: Raleway-Bold
  font-size: 1.4vw
  line-height: 24px
  letter-spacing: -0.5px
  color: #1A1A1A

.to-delete
  border: 1px solid red

.regular
  font-family: Raleway-Regular

.bold
  font-family: Raleway-Bold

.italic
  font-family: Raleway-Italic

.semibold
  font-family: Raleway-semiBold

.red-label
  color: #FF4848 !important
  
.green-label
  color: #C1D837 !important

.hide
  display: none

.no-border
  border: none

.body_content
  padding: 2%

.btn
  font-size: 0.85vw

.btn-primary
  background: linear-gradient(90deg, #DDE357 0%, #72AA42 100%)
  box-shadow: 0px 1px 3px rgba(26, 26, 26, 0.1)
  border-radius: 8px
  border: none

.btn-light
  background: #FFFFFF
  border: 1px solid #72AA42
  box-sizing: border-box
  border-radius: 8px
  color: #72AA42

.btn-light:hover
  background: #FFFFFF

.btn-light-secondary
  background: #FFFFFF
  border: 1px solid rgba(26, 26, 26, 0.32)
  box-sizing: border-box
  border-radius: 8px
  color: rgba(26, 26, 26, 0.32)

.btn-light-secondary:hover
  background: #FFFFFF
  color: rgba(26, 26, 26, 0.32)

.btn-secondary
  background: rgba(26, 26, 26, 0.1)
  border-radius: 8px
  border: none
  color: rgba(26, 26, 26, 0.32)

.btn-secondary:hover
  background: #FFFFFF
  color: #888

.btn-default
  color: #72AA42
  font-size: 17px
  margin-right: 5%

.btn-default:hover
  color: #72AA42
  border: 1px solid #72AA42
  border-radius: 5px

.btn-default-danger
  color: #FF4848
  font-size: 17px
  margin-right: 5%

.btn-default-danger:hover
  color: #FF4848
  border: 1px solid #FF4848
  border-radius: 5px

.btn-danger
  background: #FFFFFF
  border-radius: 8px
  border: 1px solid #FF4848
  color: #FF4848

.btn-danger:hover
  color: #FF4848
  background: #FFFFFF

.badge
  box-shadow: 0px 1px 3px rgba(26, 26, 26, 0.1)
  border-radius: 4px
  padding: 1%
  color: #FFFF

.badge-success
  background: #C1D837  

.badge-danger
  background: #FF4848

.badge-secondary
  background: rgba(26, 26, 26, 0.1)
  border-radius: 8px
  color: rgba(26, 26, 26, 0.7)

.badge-warning
  background: #FDAF3A

.no-padding
  padding: 0 !important

.no-margin
  margin: 0 !important

.back-white
  background-color: #FFFFFF

.nav-item
  margin: 0.5% 1%;

.datepicker-dropdown
  min-width: 10rem !important
  padding: 1%
  width: 15%  
  margin-top: 0.6%
  .table-condensed
    width: 100%
    td.active.disabled
      background-color: "#C1D837 !important"

table thead
  color: rgba(26, 26, 26, 0.32)
  border-bottom: 4px solid rgba(26, 26, 26, 0.25)

table td
  color: rgba(26, 26, 26, 0.7)

.box
  background: #FFFFFF
  box-shadow: 0px 1px 3px rgba(26, 26, 26, 0.1)
  border-radius: 16px
  padding: 2%
  margin: 1%
  .title
    font-size: 15px
  .content-box
    font-size: 11px
    color: rgba(26, 26, 26, 0.7)

.search-content 
  background: #FFFFFF
  border: 1px solid rgba(26, 26, 26, 0.1)
  box-sizing: border-box
  border-radius: 6px


.search-content input
  border: none
  width: 100%
  padding: 2%


.search-content .glass
  margin-top: 1.5%


.notifaction_group
  float: right
  margin: 2% 0

.dropdown-menu
  background: #FFFFFF
  box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.24)
  border-radius: 8px
  min-width: 20rem

.dropdown-item
  padding: 2% 5%

.navbar-nav
  .active, .nav-link:hover  
    border-bottom: 3px solid #C1D837

  .active:hover
    border-bottom: none

.rotate
  transform: rotate(90deg)
  transition: .3s

.rotate-reset
  transform: rotate(0deg)
  transition: .5s

.modal-dialog
  min-width: 700px

.modal-content
  background: #FFFFFF
  box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.24)
  border-radius: 16px

.container
  cursor: pointer

.container input
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.checkmark
  position: absolute
  right: 0
  height: 22px
  width: 22px
  background-color: #eee
  border-radius: 5px

.container input:checked ~ .checkmark 
  background-color: #C1D837

.checkmark .oi-icon.colored  
  position: absolute
  display: none
  left: 20%
  top: 3px

.container input:checked ~ .checkmark .oi-icon.colored
  display: block

label.container
  display: block !important

.select-container
  padding: 2%
  width: 70%
  position: relative
  background: rgba(26, 26, 26, 0.04)
  border-radius: 6px
  .label-titre
    color: #1A1A1A
    opacity: 0.4
  .arrow-bottom
    padding-right: 2.3%
  input, textarea
    border: none
    width: 100%
    padding: 1%
    background: rgba(26, 26, 26, 0.04)

.input-group-text
  display: flex
  align-items: center
  padding: 0.375rem 0.75rem
  font-size: 1vw
  font-weight: 400
  line-height: 1.5
  color: #212529
  text-align: center
  white-space: nowrap
  background-color: #FFF
  border: 1px solid #ced4da
      border-right-color: rgb(206, 212, 218)
      border-right-style: solid
      border-right-width: 1px
  border-radius: 8px
      border-top-right-radius: 8px
      border-bottom-right-radius: 8px
  border-right: none

.input-group input
  border-left: none
  border-bottom-right-radius: 8px
  border-top-right-radius: 8px


.datepicker-dropdown.datepicker-orient-bottom:before, .datepicker-dropdown.datepicker-orient-bottom:after
  top: 0

.upload-content
  border: 1px dashed rgba(26, 26, 26, 0.32)
  border-radius: 4px
  font-family: Raleway-semiBold
  .import-process
    background: rgba(26, 26, 26, 0.04)
  .import-success
    background: #EEF8B8  

.notice
  padding-top: 10px
  padding-bottom: 0px
  position: fixed
  bottom: 6%
  width: 100%

.notice-internal-error  
  background: #FFE7E7
  box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.24);
  border-radius: 6px 6px 0px 0px;
  color: #FF4848;
  padding: 0.5% 1%

.notice-internal-success
  background: #72AA42
  box-shadow: 0px 2px 2px rgba(26, 26, 26, 0.24)
  border-radius: 6px
  padding: 0.5% 1%
  width: 35%
  margin: 0.5% 33%

.pointer
  cursor: pointer

.cancel-action
  font-size: 1vw

.account-log-out
  color: #FF4848
.dropdown-menu-setting
  left: -151px

.support-chat
  position: fixed
  right: 2%
  height: 7%
  width: 3%
  bottom: 10%
  background: linear-gradient(90deg, #DDE357 0%, #72AA42 100%)
  box-shadow: 0px 2px 2px rgba(26, 26, 26, 0.24)
  border-radius: 50%

.label_idocus
  color: #C1D837

.form-check-input
  cursor: pointer
  height: 1.7em

.form-switch .form-check-input
  width: 2.7em

.form-check-input:checked
  background-color: #C1D837
  border-color: #C1D837

.login
  width: 40%
  padding: 5% 0
  max-width: 450px

  a
    font-size: 0.8rem
    opacity: 0.8

  p
    font-size: 0.8rem

  .glyph-login
    position: absolute
    padding: 0.5%
    right: 35%

  .checkmark
    left: 0 !important
    right: 0 !important    

  .stay-connect
    font-size: 0.9rem
    opacity: 0.8

  .box
    padding: 2% 7%

  .container
    font-size: 1vw
    .checkmark
      height: 18px
      width: 18px
      .oi-icon.colored
        left: 16%
        top: 3px

  .form-group
    margin-bottom: 40px
    outline: 0px

.form-group
  margin-bottom: 3%

.notification-content-list
  position: absolute;
  right: 67%
  width: 397px
  min-height: 216px
  height: auto
  top: -8%

  background: #FFFFFF

  box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.24)
  border-radius: 8px
  .dropdown-notif-items
    left: -7%;
    position: relative
    .notification-link
      padding: 0px
    li.notification-list
      list-style-type: none
      padding-top: 5%
    .text-right
      width: 8px
      height: 8px
      right: 16px
      top: 6px
      background: linear-gradient(90deg, #DDE357 0%, #72AA42 100%)
      border-radius: 100px
 
  .notification-date, .notification-content
    color: #b7b1b1
    font-size: 9px
    font-style: italic
    line-height: 12px
.notif-badge
  color: white
  background-color: red
  position: absolute
  margin-left: 38%
  margin-top: 17%
  border-radius: 20%
  font-weight: bold
  z-index: 100