#create-customer .modal-dialog {
  min-width: 1200px;
}

#customers-filter .modal-dialog {
  min-width: 720px;
}

.label-package{
  padding-top: 5%;
  font-size: 1.8rem;
}

.label-ido-x {  
  color: #C1D837;
}

.label-ido-micro {  
  color: #72AA42;
}

.label-ido-basic {  
  color: #445E2B;
}

.label-ido-retriever {  
  color: #1A1A1A;
}

.description{
  font-size: 0.8rem;
}

#customer-content p{
  font-size: 0.75rem;
}

.price{
  font-size: 22px;
  font-weight: bold;
  color: rgba(26, 26, 26, 0.32);  
}

.no-price{
  text-decoration-line: line-through;
}

#subscription .form-check-input[type="radio"] {
  padding: 18%;
  margin: 25%;
}

.border-right{
  border-right: 1px solid rgba(26, 26, 26, 0.1);  
}

.tab-pane.box{  
  padding-bottom: 3px !important
}

.tab-pane label{  
  font-size: 13px;
}

.tab-pane .select-container input{
  padding: 1% 2% !important;
}

.notif-booktype{
  color: rgba(26, 26, 26, 0.7);
  font-size: 13px;
}

.sub_menu .delete a {
  text-decoration: none;
  cursor: pointer;
  color: #FF4848 !important;
}

.sub_menu .edit a{
  text-decoration: none;
  cursor: pointer;
  color: rgba(26, 26, 26, 0.7) !important;
}

.idocus-custom-form-check {
  display: flex;
}

#customer-content .tab-content {
  margin-bottom: 7%
}

#customer-content ul li.nav-item{
  border-bottom: 1px solid rgba(26, 26, 26, 0.04);
}

.label-software{
  margin-top: 2px;
}

ul.list.nav {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #C1D837 rgba(26, 26, 26, 0.02); /* scroll thumb and track */  
}

.list.nav li button{
  white-space: nowrap;
}

.tab-pane#bank-setting .form-group, .tab-pane#compta .form-group{
  margin-bottom: 2%;
}

.tab-pane#bank-setting .select-container input, .tab-pane#compta .select-container input{
  padding: 0.5% !important;
}

table.future_packages{
  width: 35%;
  margin: auto;
}

table.future_packages .total{
  border-top: 1px solid #664d03
}

.popover_content_customer {
  position: absolute;
  border: 1px solid #CCC;  
  z-index: 120;
  margin: -3% 0px 0px 3%;
  min-width: 300px;
  box-shadow: 2px 5px 13px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 5px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 13px -1px rgba(0,0,0,0.75);
}

table.table.list_customers tr.inactive{
  background-color: #4a4a4a;
}

table.table.list_customers tr.inactive td, table.table.list_customers tr.inactive span a{
  color: white;
}

table.table.list_customers tr.inactive .sub_menu{
  color: white;
}

#comptaAnalysisEdition .modal-dialog {
  min-width: 1024px !important;
}

.warning-span{
  font-size: 13px;
}

.footer_marginer{
  height: 7rem !important;
}

@media (max-width: 1280px) {
  .form-check-input {    
    margin-top: 0.4em !important;
  }

  .select-container input, .select-container textarea {
    padding: 2%;
  }

  .modal #personalize_subscription_package_form .form-switch .form-check-input {
    height: 1em;
    margin-top: 13% !important;
  }

  .modal .label-package{
    font-size: 1.4rem;
  }

  .modal .description{
    font-size: 0.7rem;
  }

  .modal p{
    font-size: 0.7rem;
  }

  .modal .price{
    font-size: 14px;
  }

  .modal .form-switch .form-check-label{
    margin-left: 0; 
  }

  .sub_menu {
    min-width: 18%;
  }

  #customers-filter.modal .col-form-label{
    font-size: 0.7rem;
  }

  #customers-filter.modal .select-container input{
    padding: 1%;
  }

  #customers-filter.modal .form-switch .form-check-input{
    height: 0.9em;
  }
}