#more-filter.modal.fade.in{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      %form#pack_filter_form.simple_form.form-horizontal
        .modal-header
          %h5.modal-title.bold Filtrer
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          - if !@is_operations
            .form-group
              %label Etat pièce
              %select.form-select#state_piece{ name: 'by_piece[state_piece]' }
                %option{value: ''} Tous
                %option{value: 'waiting_analytics'} En attente validation analytique
                %option{value: 'ignored,truly_ignored'} Ignorée
                %option{value: 'waiting'} Pré-saisie en cours
          - if @user.pre_assignement_displayed?
            .form-group
              %label Livraison/Export écriture comptable
              %select.form-select#delivery{ name: 'by_preseizure[is_delivered]' }
                %option{value: ''} Tous
                %option{value: 1} Livrée
                %option{value: 2} Non livrée
                %option{value: 3} Avec erreur
                %option{value: 4} Téléchargée
                %option{value: 5} Non récupérée
            .form-group
              %label Date de livraison              
              .input-group.mb-3
                %span.show-calendar.input-group-text{ data: { ref: 'delivery-date' } }= glyphicon('calendar', { size: '14', color: 'background: rgba(26, 26, 26, 0.7)' })       
                %input.form-control.value-content.date.daterange#delivery-date{ type: :text, name: 'by_preseizure[delivery_tried_at]', value: ''}
                %span.show-calendar.input-group-text-right{ data: { ref: 'delivery-date' } }= glyphicon('chevron-bottom', { size: '12', color: 'background: rgba(26, 26, 26, 0.7)' })             
            .form-group
              %label Date de facture
              .input-group.mb-3
                %span.show-calendar.input-group-text{ data: { ref: 'invoice-date' } }= glyphicon('calendar', { size: '14', color: 'background: rgba(26, 26, 26, 0.7)' })
                %input.form-control.value-content.date.daterange#invoice-date{ type: :text, name: 'by_preseizure[date]', value: ''}
                %span.show-calendar.input-group-text-right{ data: { ref: 'invoice-date' } }= glyphicon('chevron-bottom', { size: '12', color: 'background: rgba(26, 26, 26, 0.7)' })
          .form-group
            %label Montant
            .row
              .col-md-4.compare-choice
                %select.form-select.mt-1#compare{ name: 'by_preseizure[amount_operation]' }
                  %option{value: 0} Eg à
                  %option{value: 1} Sup - Eg à
                  %option{value: 2} Inf - Eg à
              .col-md-8
                .select-container
                  %input.value-content{ name: 'by_preseizure[amount]', placeholder: "ex: 100" }          

      .modal-footer
        .row.w-100
          .col-md-8.d-inline-block
            %button.btn.btn-default.semibold.btn-reinit{:type => 'button', id: 'launch-reinit'} Réinitialiser    
          .col-md-4.d-inline-block.ps-1.text-end
            %button.btn.btn-light.semibold{'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
            %button.btn.btn-primary.semibold.btn-add{:type => 'button', id: 'launch-filter'} Filtrer

#preseizures_export.modal.fade.in{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Téléchargement d'écritures comptables        
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        %p.information
        .mb-4
        %form.form-group#preseizures_export_form{ action: '/documents/export', method: 'POST' }
          %label Format d'export
          = select_tag :export_type, '', id: :export_type, class: 'form-select'
      .modal-footer
        %button.btn.btn-primary.semibold#export_button{:type => 'button'} Exporter

#tags.modal.fade.in{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Taguer vos documents  
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
      .modal-footer        
        %button.btn.btn-primary.semibold#add_tags{:type => 'button'} Taguer