= render file: Rails.root.join('app/templates/front/documents/views/documents/_dialog_box.html.haml')

#view-document-content.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header.no-border
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body.m-2.document-content.no-padding

#PdfViewerDialog.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Visionner le document
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body{style: "max-height: none !important; padding:0;"}
        .view-content
          %iframe.src-piece{ src: "" }