.modal#collaborator
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold
          Edition du groupe :
          = @group.name
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}

      = render partial: 'form'
