.modal#group
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Création d'un nouveau groupe
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}

      = render partial: 'form'