#addresses_management.row
  %h3 Gestion des adresses
  .box
    .row
      .col-md-4
        = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.paper_return_address, single: true, type: 'paper_return' }
      .col-md-4
        = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.paper_set_shipping_address, single: true, type: 'paper_set_shipping' }
      .col-md-4
        = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.dematbox_shipping_address, single: true, type: 'dematbox_shipping' }
    .row
      .col-md-12.text-center
        = link_to 'Configurer', '#', class: 'btn btn-light semibold w-25'