#addresses_management.row
  .col-md-12
    .card
      .card-header
        %h3 Gestion des adresses
      .card-body
        .row
          .col-md-4
            = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.paper_return_address, single: true, type: 'paper_return' }
          .col-md-4
            = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.paper_set_shipping_address, single: true, type: 'paper_set_shipping' }
          .col-md-4
            = render file: Rails.root.join('app/templates/front/addresses/views/addresses/main/_address.html.haml'), locals: { address: @user.dematbox_shipping_address, single: true, type: 'dematbox_shipping' }
        .row
          .col-md-12.aligncenter.margin1top
            = link_to 'Configurer', '#', class: 'btn btn-primary'