- options = { size: '15', color: 'rgba(26, 26, 26, 0.7);'}
.row.clearfix
  .col-md-6.text-start.pt-2  
    - if @customer.inactive?
      %span.badge.bg-danger.text-start.closed_account Dossier clôturé
    %h3.bold.text-start
      %span.me-1 Clients :
      %span.green-label= @customer.info
  .col-md-6.text-end.no-padding
    - if @customer.active?
      = link_to glyphicon('ban', { size: '15', color: '#FF4848'}) + ' Clôturer le dossier', account_close_confirm_organization_customer_path(@organization, @customer), class: 'btn btn-danger semibold close_customer'
    - else
      %button.btn.btn-light.semibold.customer-reopen{ data: { customer_id: @customer.id }}
        %span.me-2=glyphicon('folder', { size: '15', color: '#72AA42'})
        %span Réouvrir le dossier