- options = { size: '15', color: 'rgba(26, 26, 26, 0.7);'}
.row.box.clearfix
  .col-md-6.text-start    
    - if @customer.inactive?
      %span.badge.bg-danger.text-start.closed_account Dossier clôturé
    %h3.bold.text-start
      Clients :
      %span.customer-name= @customer.info    
  .col-md-6.text-end.no-padding
    - if @customer.active?
      %button.btn.btn-danger.semibold.customer-close{ data: { customer_id: @customer.id }}
        %span.me-2=glyphicon('ban', { size: '15', color: '#FF4848'})
        %span Clôturer le dossier
    - else
      %button.btn.btn-light.semibold.customer-reopen{ data: { customer_id: @customer.id }}
        %span.me-2=glyphicon('folder', { size: '15', color: '#72AA42'})
        %span Réouvrir le dossier    