- options = { size: '15', color: 'rgba(26, 26, 26, 0.7);'}
.row.clearfix
  .col-md-6.text-start.p-2    
    %h3.bold.text-start
      %span.me-1 Clients :
      %span.badge.bg-dark.regular= @customer.info
      - if @customer.inactive?
        %span.badge.badge-danger.text-start.ms-2.regular.closed_account Dossier clôturé
  .col-md-6.text-end.no-padding
    - if @customer.active?
      = link_to glyphicon('ban', { size: '15', color: '#FF4848'}) + ' Clôturer le dossier', account_close_confirm_organization_customer_path(@organization, @customer), class: 'btn btn-danger semibold close_customer'
    - else
      = link_to glyphicon('folder', { size: '15', color: '#72AA42'}) + ' Réouvrir le dossier', account_reopen_confirm_organization_customer_path(@organization, @customer), class: 'btn btn-light no-style reopen_customer'