.close-confirm-content
  = form_tag close_account_organization_customer_path(@organization, @customer), method: 'patch', class: 'form-horizontal'  do
    %p.p-1
      Cette action est irréversible, voulez-vous réellement clôturer le dossier 
      %span.semibold= @customer.info
      %span ?        
    .modal-footer
      .row.form-group.w-100.no-margin
        .col-md-6
          - if @user.is_admin && (@customer.active? || @customer.inactive_at > Time.now)
            .form-check.form-check-inline                 
              %label.form-check-label Maintenant
              %input.form-check-input.pointer.close-now{ type: :checkbox, name: "close_now" }
        .col-md-3.text-center
          = link_to t('actions.cancel'), organization_customer_path(@organization, @customer), class: 'btn btn-light w-100 me-2 btn-sm semibold'
        .col-md-3.text-center.no-padding
          = submit_tag 'Clôturer', class: 'btn btn-danger w-100 btn-sm semibold', data: { confirm: t('actions.confirm') }
