.account_close_confirm.close_or_reopen
  = form_tag close_account_organization_customer_path(@organization, @customer), method: 'patch', class: 'form-horizontal', id: 'account_close_confirm'  do
    %p.p-1
      Cette action est irréversible, voulez-vous réellement clôturer le dossier 
      %span.semibold= @customer.info
      %span ?        
    .form-group.w-100.no-margin
      - if @user.is_admin && (@customer.active? || @customer.inactive_at > Time.now)
        .form-check.form-check-inline                 
          %label.form-check-label Maintenant
          %input.form-check-input.pointer.close_now{ type: :checkbox, name: "close_now" }