.account_reopen_confirm.close_or_reopen{link: reopen_account_organization_customer_path(@organization, @customer), text: 'Réouvrir le dossier'}
	%p.p-1
		Voulez-vous réellement réouvrir le dossier
		%span.semibold= @customer.info
		%span ?
