.modal#new-customer
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Créer un nouveau client
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      = render partial: 'form'