.accounting-plan-base-form
  %input#organization_id{ type: :hidden, value: "#{@organization.id}"}
  %input#customer_id{ type: :hidden, value: "#{@customer.id}"}
    #book_type
      = render partial: 'customers/main/book_type'