- if @user.organization.ibiza.try(:configured?) && (has_multiple_accounts? || @user.uses_ibiza_analytics?)
  #analytic_user_fields.clearfix
    .analytic_loading.hide
      %span Chargement analytiques ...&nbsp;&nbsp;
      .feedback.active
    .with_compta_analysis.hide
      .row
        .col-md-3.text-center.no-padding.mt-2 Compta analytique
        .col-md-4.no-padding
          %button.btn.btn-light{ type:'button', "data-bs-toggle"=>"modal", :href => "#comptaAnalysisEdition" } Editer analytique
      %br
      %span.with_default_analysis.hide
        %span.fs-origin.badge.badge-warning.margin1right
          Attention :
        Une analyse par défaut existe pour ce journal, si vous n'éditez pas l'analyse actuelle, les documents uploadés seront affectés automatiquement à l'analyse par défaut.
  .analytic_resume_box
  = render file: Rails.root.join('app/templates/front/compta_analytics/views/compta_analytics/main/_hidden_fields.html.haml')