.mb-5
.container-fluid
  .box.m-2
    %h3 Configuration Forfait iDo'Premium
  .box.m-2
    .row
      .col-md-4
        %input.form-control.w-100#organization_code{ placeholder: "Code de l'organisation"}
      .col-md-3
        %button.btn.btn-primary.update_package Mettre à jour les dossiers 
  .mb-4
  .box.result.m-2.hide
    Chargement ...

= javascript_include_tag 'back/package_setting/assets/javascripts/main'