- if billings
  - classic_excess    = billings.where(name: 'ido_classic_excess').first
  - micro_plus_excess = billings.where(name: 'ido_micro_plus_excess').first
  .organization_quota
    %span= format_price_00(classic_excess.try(:price).to_f + micro_plus_excess.try(:price).to_f) + " €"
    .details.box.hide
      %table.table.table-condensed
        %thead
          %tr
            %th Dépassement
            %th.center Basiques
            %th.center Micro
        %tbody
          %tr
            %td Pré-affectation
            %td.center= classic_excess.try(:associated_hash).try(:[], :excess).to_i
            %td.center= micro_plus_excess.try(:associated_hash).try(:[], :excess).to_i
- else
  = '-'