.edit-delete .delete a {
  text-decoration: none;
  cursor: pointer;
  color: #FF4848;
}

.edit-delete .edit a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(26, 26, 26, 0.7);
}

/* TO REMOVE */

.padding-group-collaborator .sub_menu {
  position: relative !important;
  width: 120px;
}

.collaborators.page-content {
  margin-bottom: 7%;
}

.padding-group-collaborator {
  margin: 0 1% !important;
  width: 30%;
}