.edit-delete .delete a {
  text-decoration: none;
  cursor: pointer;
  color: #FF4848;
}

.edit-delete .edit a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(26, 26, 26, 0.7);
}

/* TO REMOVE */

.groups .sub_menu {
  right: auto;
}

.collaborators.page-content {
  margin-bottom: 7%;
}

.form-group{
  margin-bottom: 1% !important;
}

.select-container input, .select-container textarea {
  padding: 2%;  
}
