- count       = @favorites.size
- count_right = (count/2)
- count_left  = count - count_right
.w-50
  = render partial: 'my_favorite_customers', locals: { favorites: @favorites.first(count_left) }
.w-50
  = render partial: 'my_favorite_customers', locals: { favorites: @favorites.last(count_right) }