.w-50.dynamic_box.animatedChild.animated-pointer
  .box.content-operation.select-box-operation.list
    .preseizure-content-list{ class: animation, data: { preseizure_id: preseizure.id, type: 'operation' }}
      %span.form-check.float-end
        %input.form-check-input.pointer.float-none.select-operation{ data: { id: preseizure.id }, type: :checkbox, value: "" }
      = render_async preseizures_infos_path, { id: preseizure.id }