.modal.fade.in#general_idocus_main_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold
        %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' }
      .modal-body
      .modal-footer
        %button.btn.btn-primary.template.hide
        %button.btn.btn-light.cancel.hide{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' } Annuler
        .appendable_elements