#create-customer .modal-dialog {
  min-width: 1200px;
}

#customers-filter .modal-dialog {
  min-width: 720px;
}

.label-package{
  padding-top: 2%;
  font-size: 1.8rem;
}

.label-ido_x {  
  color: #C1D837;
}

.label-ido_micro, .label-ido_micro_plus, .label-ido_nano {  
  color: #72AA42;
}

.label-ido_classic {  
  color: #445E2B;
}

.label-ido_retriever {  
  color: #1A1A1A;
}

.label-ido_digitize{
  color: #1B1B1B;
}

.description{
  font-size: 0.8rem;
}

p{
  font-size: 0.75rem;
}

.price{
  font-size: 22px;
  font-weight: bold;
  color: rgba(26, 26, 26, 0.32);  
}

.no-price{
  text-decoration-line: line-through;
}

#subscription .form-check-input[type="radio"] {
  padding: 18%;
  margin: 25%;
}

.sub_menu{
  min-width: 13% !important;
}

.border-right{
  border-right: 1px solid rgba(26, 26, 26, 0.1);  
}

.tab-pane .form-group{
  margin-bottom: 1% !important;
}

.tab-pane.box{  
  padding-bottom: 3px !important
}

.tab-pane label{  
  font-size: 13px;
}

.tab-pane .select-container input{
  padding: 0.5% !important;
}

.notif-booktype{
  color: rgba(26, 26, 26, 0.7);
  font-size: 13px;
}

.sub_menu .delete a {
  text-decoration: none;
  cursor: pointer;
  color: #FF4848;
}

.modal .back-grey{
  background: rgba(26, 26, 26, 0.04);
}


@media (max-width: 1280px) {
  .form-switch .form-check-input {
    height: 1em;
    margin-top: 20%;
  }

  .label-package{
    font-size: 1.4rem;
  }

  .description{
    font-size: 0.7rem;
  }

  p{
    font-size: 0.7rem;
  }

  .price{
    font-size: 14px;
  }

  .form-switch .form-check-label{
    margin-left: -15%; 
  }
}